.fukui {
    background-size: cover;
    font-weight: bold;
    font-size: 150px;
}


.nursery {
    background-size: cover;
    font-weight: bold;
    font-size: 150px;
}

.elementary {
    background-size: cover;
    font-weight: bold;
    font-size: 150px;
}

.junior {
    background-size: cover;
    font-weight: bold;
    font-size: 150px;
}

.high {
    background-size: cover;
    font-weight: bold;
    font-size: 150px;
}
