/* styles.css */

/*レスポンシブ対応*/
@media (min-width: 499px) {
    .site-header__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0; } 
    }
    
 @media (min-width: 500px) and (max-width: 999px) {
    .nav__wrapper {
          display: flex; } 
}
       
@media (max-width: 1000px) {
    .nav__wrapper {
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          z-index: -1;
          background-color: #d9f0f7;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-100%);
          transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
}
    
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    max-width: 1080px;
    margin: auto;
}

.milestones {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.milestones article {
    flex: 1 1 calc(50% - 1rem); /* 2つのカラムに分割 */
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.milestones h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.milestones .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 画像を2列に分割 */
    gap: 1rem; /* 画像間のスペース */
}

.milestones img {
    display: block;
    width: 100%;
    height: auto; /* 高さを自動で調整 */
    border-radius: 8px;
    object-fit: cover; /* 親要素に合わせて画像を切り取る */
}


.container {
    display: flex;
}

.item {
    background: #0bd;
    color: #fff;
    margin: 5px;
    padding: 5px;
}

.item img {
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    object-fit: cover;
    height: 80%;
}

image-container {
    background: #f00;
    width:100%;
    height:40%;
    max-width: 400px;
    max-height: 800px;
    object-fit: cover;
}

text-box {
    background: #0bd;
    color: #fff;
    margin: 5px;
    padding: 5px;
    object-fit: cover;
}

.footer02 {
    color: #808080;
    background: #e5e5e5;
    text-align: center;
    padding: 30px;
    margin-top: auto;
}

.footer02 a {
    color: #808080;
    text-decoration: none;
}

.footer02 a:hover {
    text-decoration: underline;
}

.footer02 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer02 .menu li {
    margin: 0;
    padding: 0 20px;
}

.footer02 .copyright {
    margin: 0;
    padding: 20px 0 0 0;
}

.menu-btn {

    position: fixed;

    top: 10px;

    right: 10px;

    display: flex;

    height: 60px;

    width: 60px;

    justify-content: center;

    align-items: center;

    z-index: 90;

    background-color: #3584bb;

}

.menu-btn span,

.menu-btn span:before,

.menu-btn span:after {

    content: '';

    display: block;

    height: 3px;

    width: 25px;

    border-radius: 3px;

    background-color: #ffffff;

    position: absolute;

}

.menu-btn span:before {

    bottom: 8px;

}

.menu-btn span:after {

    top: 8px;

}
 
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
 }
 #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
 }
 #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
 }


#menu-btn-check {

    display: none;

}


.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
 }

 .menu-content ul {
    padding: 70px 10px 0;
 }

 .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
 }

 .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
 }

 .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
 }


 .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
 }

 #menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/

}

#page-top {
    position: fixed;
    right: 10px;
    bottom: 75px;
    background: #FFF;
    color: #111;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
    z-index: 10;
 }
 #page-top:hover {
    background: #111;
    color: #FFF;
 }
 #page-top i {
    padding-top: 5px;
    font-size: 1.3rem;
    display: block;
 }
 #page-top span {
    font-size: 0.8rem;
 }
 /***トップへ戻るボタンここまで***/
 /***追従するHOMEボタン***/
 #home-link {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #fff;
    color: #111;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
    z-index: 10;
 }
 #home-link:hover {
    background: #111;
    color: #FFF;
 }
 #home-link i {
    padding-top: 7px;
    font-size: 1.3rem;
    display: block;
 }
 #home-link span {
    font-size: 0.8rem;
 }

#page-top:hover {
    background: #111;
    color: #fff;
}

.back-button {
    position: fixed; /* ボタンを画面に固定 */
    bottom: 20px; /* 画面下からの距離 */
    left: 20px; /* 画面左からの距離 */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #0056b3; /* ホバー時の色 */
}

