/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    max-width: 1080px;
    margin: auto;
}

.milestones {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.milestones article {
    flex: 1 1 calc(50% - 1rem); /* 2つのカラムに分割 */
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.milestones h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.milestones .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 画像を2列に分割 */
    gap: 1rem; /* 画像間のスペース */
}

.milestones img {
    display: block;
    width: 100%;
    height: auto; /* 高さを自動で調整 */
    border-radius: 8px;
    object-fit: cover; /* 親要素に合わせて画像を切り取る */
}

footer {
    text-align: center;
    padding: 2rem 0;
}

.container {
    display: flex;
}

.item {
    background: #0bd;
    color: #fff;
    margin: 5px;
    padding: 5px;
}

.item img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    height: auto;
}

image-container {
    background: #f00;
    width:100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

text-box {
    background: #0bd;
    color: #fff;
    margin: 5px;
    padding: 5px;
    object-fit: cover;
}



